---
import Main from "../layouts/Main/Main.astro";
import "../styles/index.scss";
---

<Main>
	<h1 id="title">Opa</h1>
	<div id="term">
		<span>~$ whoami</span>
		Sou o Davi - Um dev frontend (que se depender faz backend), e adora fuçar
		com novas tecnologias!
		<span>~$ ls -a /skills</span>
		<ul id="skills">
			<li>C#</li>
			<li>Svelte</li>
			<li>Javascript</li>
			<li>Typescript</li>
			<li>React</li>
			<li>PocketBase</li>
		</ul>
		<span>~$ cat buttons.txt</span>
		<div class="buttons">
			<!--Meu button-->
			<a href="https://argonptg.neocities.org">
				<img src="/buttons/button.png" alt="meu botao" />
			</a>

			<!--Links a outras paginas-->
			<a href="https://dorival.neocities.org">
				<img
					src="/buttons/dorival-button.gif"
					alt="Dorival"
					title="buteco do dorival"
				/>
			</a>
			<a href="https://eduu.neocities.org">
				<img
					src="/buttons/edu-button.gif"
					alt="Dorival"
					title="edu's junkyard"
				/>
			</a>
			<a href="https://frajola.neocities.org/">
				<img src="/buttons/frajola-button.png" alt="frajola" />
			</a>
			<a href="https://vinizinho.net">
				<img src="/buttons/vini-button.png" alt="dabric" />
			</a>
			<a href="https://riomccloud.neocities.org/">
				<img src="/buttons/riomccloud-button.gif" alt="riomccloud" />
			</a>
			<a href="https://dabric.xyz">
				<img src="/buttons/dabric-button.png" alt="dabric" />
			</a>
			<a href="https://dimden.dev/">
				<img src="/buttons/dimden-button.gif" alt="dimden" />
			</a>

			<!--Links pessoais-->
			<a href="https://github.com/argonptg">
				<img src="/buttons/github.gif" alt="Github Logo" />
			</a>
			<a href="https://twitter.com/argonptg">
				<img src="/buttons/twitterbutton.gif" alt="Twitter Logo" />
			</a>
			<a href="https://reddit.com/u/argonptg">
				<img src="/buttons/reddit.gif" alt="Reddit Logo" />
			</a>

			<!--Buttons legaizinhos-->
			<a href="https://archlinux.org">
				<img src="/buttons/archlinux.gif" alt="archlinux" />
			</a>
			<a href="https://decolonizepalestine.com">
				<img src="/buttons/standpalestine.png" alt="standpalestine" />
			</a>
			<a href="https://neocities.org">
				<img src="/buttons/neocitiesbutton1.gif" alt="neocities" />
			</a>
			<img src="/buttons/chrome-is-evil.gif" alt="chrome is evil" />
			<img
				src="/buttons/sharing-is-caring.gif"
				alt="sharing is caring, seed your torrents"
			/>
			<img src="/buttons/make-a-site.png" alt="you should make a site" />
			<img
				src="/buttons/any-browser.gif"
				alt="best viewed with any browser"
			/>
			<a href="https://yesterweb.org/graphics/buttons">
				<img src="/buttons/nft.gif" alt="no fucking thanks" />
			</a>
			<a href="https://yesterweb.org/graphics/buttons">
				<img src="/buttons/i-heart-leafeon.gif" alt="i love leafeon" />
			</a>
			<a href="https://onlywonder.net">
				<img
					src="/buttons/repair.png"
					alt="i support right to repair"
				/>
			</a>
			<a>
				<img
					src="/buttons/IA.gif"
					alt="preserve everything - internet archive"
				/>
			</a>
			<img src="/buttons/brazil.png" alt="brasil" />
			<a href="https://neosampa.org">
				<img src="/buttons/neosampa-button.gif" alt="Neosampa" />
			</a>
		</div>
		<span>~$ cat webring.md</span>
		<div class="ring">
			<iframe
				id="bucket-webring"
				style="width: 100%; height: 3rem; border: none;"
				src="https://webring.bucketfish.me/embed.html?name=Cantinho do Argon"
			></iframe>
		</div>
	</div>
</Main>
