---
import Main from "../layouts/Main/Main.astro";
import "../styles/index.scss";
---

<Main>
	<h1 id="title">Sobre mim</h1>
	<p>
		Opa! Me chamo Davi, mas pode me chamar de argon ou argonptg. Sou um
		estudante no 2° ano do ensino médio e possuo experiência em JavaScript,
		TypeScript e Svelte, e atualmente tô aprendendo C# no técnico. No dia a
		dia, uso Arch Linux
	</p>
	<p>
		Mudando de assunto, sou apaixonado por esportes, principalmente Fórmula
		1 e Futebol. na F1 torço pra McLaren e pro Bortoleto (que vem
		impressionando bastante gente). Já no futebol, sou atleticano desde o
		berço e também apoio o Nottingham Forest. Também não posso esquecer do
		PTCG, onde jogo e (tento) ser bom
	</p>
	<p>
		No mais esse site é só um canto pra eu postar coisas que eu gosto e de
		meu interesse, espero que você (sim você mesmo que tá lendo) tenha
		gostado desse site!
	</p>
</Main>
